<div class="stock" style="padding: 0px 0px 0px 40px">
  <h2><%= @stock.company_name %>  (<%= @stock.ticker %>) </h2>
  <p style="padding: 0px 0px 0px 10px">Price per share: $<%= @stock.quote %></p>
 
  

</div>